{% extends 'template.html.twig' %}
{% block title %}Users{% endblock %}
{% block titre %} liste des Users {% endblock %}
{% block body %}
{{include('fragments/date.html.twig')}}
<div class="alert alert-warning">
    <a href="{{path('tab',{nb : 7})}}">voir tableau de note </a>
</div>
    <table class="table">
    <tr class="table-active">
        <td> First Name</td>
        <td>Name</td>
        <td>Age</td>
        <td>Message</td>
        </tr>
        {% for user in users%}
       <tr class="table-{%if loop.index is odd%}danger{%else%}warning{%endif%}">
<td>{{user.firstname}}</td>
<td>{{user.name}}</td>
<td>{{user.age}}</td>
<td>{{render(controller('App\\Controller\\PersonController::hello',{name:user.name,firstname:user.firstname}))}}</td>
        </tr>
        {% endfor %}
       
    </table>

{% endblock %}
