{% extends 'template.html.twig' %}

{% block titre %} {{prenom}}  {{nom}}{% endblock %}

{% block title %} Welcome{% endblock %}



{% block body %}
    <h4> Welcome a big love from {{prenom |capitalize}}  {{nom | capitalize}} <3 </h4> 
  mon lien absolu est : {{url('app_person')}} 
{% endblock %}